{% extends 'base.html.twig' %}

{% block title %}Courses{% endblock %}

{% block body %}
    <div class="text-start">
        {% for index, enrollCourse in enrollCourses %}
            <p>
                {{ index+1 }}.
                <span>
                    {% set course = enrollCourse.course %}
                    <a href="{{ path('app_course_show', {'courseSlug': course.slug}) }}">
                        {{ course.name }}
                    </a>
                    {% if enrollCourse.finishedAt is not null %}
                        <i class="fas fa-check-square ms-2"></i>
                    {% endif %}
                </span>
            </p>
        {% endfor %}
    </div>
{% endblock %}
